---
import Layout from '../../layouts/Layout.astro';
import ProjectList from '../../components/ProjectList.astro';
import { getCollection } from 'astro:content';

const orderedIds = [
  'en/enyopharma',
  'en/crcl',
  'en/pdb_mldata',
  'en/mimir',
  'en/abstracts-ppi',
  'en/rag',
  'en/mc_arc'
];


const allProjects = await getCollection('projects');
const projects = orderedIds.map(id => allProjects.find(p => p.id === id)).filter(Boolean);
---
<Layout locale="en">
  <div class="mb-8 border border-gray-100 rounded-lg p-6 hover:shadow-sm transition-shadow">
    <ul class="list-disc pl-5 space-y-2 text-gray-600">
      {projects.map(p => (
        <li>
          <a href={`#${p.id.split('/').pop()}`} class="text-blue-600 hover:underline">
            {p.data.title}
          </a>
        </li>
      ))}
    </ul>
  </div>
  <ProjectList projects={projects} />
</Layout>
